<style>
.seldiv {
  height: 150px;
  width:100px;
  padding:15px;
  /*font-size:15px;*/
  color:black;  
  margin-left: 100px;
  /*margin-top: 25px;*/
}
.img{
	width: 199px;
	margin-left: 100px; 
}
</style>

<body>
<div class="img"><img src="/img/logo.jpg"></div>
<div class="seldiv">
	<label>Платформа</label>
	<br>
		<label>Видеокарта: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS GeForce GTX 1050 </option>
			    <option> ASUS GeForce GTX 1050 Ti </option>
			    <option> ASUS GeForce GTX 1060 Dual </option>
			    <option> MSI GeForce GTX 1050 Ti </option>
			    <option> MSI GeForce GTX 1060 Armor 3G. </option>
			</select>
		</label>
		<br>
		<label>Процессор: 
			<select id="selectvalue">
				<option></option>
			    <option> Intel Pentium G4600 3600Mhz </option>
			    <option> Intel Core i3-7100 3900MHz </option>
			    <option> Intel Core i5-7500 3400MHz </option>
			    <option> Intel Core i5-7600 3500MHz </option>
			    <option> Intel Core i5-7600K 3800MHz </option>
			    <option> Intel Core i7-7700 3600MHz</option>
			    <option> Intel Core i7-7700K 4200MHz </option>
			</select>
		</label>
		<br>
		<label>Материнская плата: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS PRIME B250-PLUS, Intel B250 </option>
			    <option> MSI H110M PRO-VD PLUS </option>
			    <option> MSI B250M MORTAR, Intel B250, microATX </option>
			    <option> MSI Z370 GAMING M5, Z370 </option>
			    <option> ASUS PRIME Z370-P, Intel Z370 </option>
			</select>
		</label>
		<br>
		<label>Система охлаждения: 
			<select id="selectvalue">
				<option></option>
			    <option> Deepcool THETA 115 </option>
			    <option> Zalman CNPS10X Optima </option>
			    <option> Thermalright Silver Arrow IB-E </option>
			    <option> Водяное охлаждение Corsair Hydro Series H110i </option>
			    <option> Cooler Master MasterAir Maker 8 </option>
			</select>
		</label>
		<br>
		<label>Оперативная память: 
			<select id="selectvalue">
				<option></option>
			    <option> 8GB DDR4 2133Mhz Kingston HyperX FURY </option>
			    <option> 16GB DDR4 2133Mhz Kingston HyperX FURY </option>
			    <option> 8GB DDR4 2400Mhz Corsair Vengeance LPX </option>
			    <option> 16GB DDR4 2400Mhz Corsair Vengeance LPX </option>
			</select>
		</label>
		<br>
		<label>Корпус: 
			<select id="selectvalue">
				<option></option>
			    <option> AeroCool P7-C0 </option>
			    <option> Cooler Master Elite </option>
			    <option> Corsair Carbide SPEC-04 </option>
			    <option> Thermaltake Versa C22 RGB </option>
			    <option> Zalman Z11 Plus </option>
			</select>
		</label>
		<br>
		<label>Блок питания: 
			<select id="selectvalue">
				<option></option>
			    <option> Cooler Master MasterWatt Lite 700W </option>
			    <option> Seasonic Platinum 520 Fanless 520W </option>
			    <option> Cooler Master V1000 1000W </option>
			    <option> Cooler Master V1200 Platinum 1200W </option>
			    <option> Corsair AX1500i 1500W </option>
			</select>
		</label>
		<br>
		<label>Звуковая карта: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS Strix Soar </option>
			    <option> ASUS Strix Raid Pro </option>
			    <option> ASUS ROG Xonar Phoebus </option>
			    <option> ASUS Strix Raid DLX </option>
			    <option> ASUS Xonar Essence STX II 7.1 </option>
			</select>
		</label>
		<br>
		<label>Жесткий диск: 
			<select id="selectvalue">
				<option></option>
			    <option> 4TB HDD Seagate Barracuda </option>
			    <option> 6TB HDD Seagate IronWolf </option>
			    <option> 6TB HDD Western Digital Blue </option>
			    <option> 10TB HDD Seagate IronWolf </option>
			    <option> 10TB HDD Seagate Barracuda Pro </option>
			</select>
		</label>
		<br>
		<br>
		<br>
		<br>
</body>