<style>
.seldiv {
  height: 150px;
  width:100px;
  padding:15px;
  /*font-size:15px;*/
  color:black;  
  margin-left: 100px;
  /*margin-top: 25px;*/
}
.img{
	width: 199px;
	margin-left: 100px; 
}
</style>

<body>
	<br>
	<br>
<div class="img"><img src="/img/logo.jpg"></div>
<div class="seldiv">
	<h1>Платформа</h1>
	<br>
	<br>
	<br>
		<label>Видеокарта: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS GeForce GTX 1050 350$ </option>
			    <option> ASUS GeForce GTX 1050 Ti 400$ </option>
			    <option> ASUS GeForce GTX 1060 Dual 500$ </option>
			    <option> MSI GeForce GTX 1050 Ti 450$ </option>
			    <option> MSI GeForce GTX 1060 Armor 3G. 600$ </option>
			</select>
		</label>
		<br>
		<label>Процессор: 
			<select id="selectvalue">
				<option></option>
			    <option> Intel Pentium G4600 3600Mhz 250$ </option>
			    <option> Intel Core i3-7100 3900MHz 300$ </option>
			    <option> Intel Core i5-7500 3400MHz 500$ </option>
			    <option> Intel Core i5-7600 3500MHz 550$ </option>
			    <option> Intel Core i5-7600K 3800MHz 570$ </option>
			    <option> Intel Core i7-7700 3600MHz 700$ </option>
			    <option> Intel Core i7-7700K 4200MHz 750$ </option>
			</select>
		</label>
		<br>
		<label>Материнская плата: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS PRIME B250-PLUS, Intel B250 250$ </option>
			    <option> MSI H110M PRO-VD PLUS 300$ </option>
			    <option> MSI B250M MORTAR, Intel B250, microATX 300$ </option>
			    <option> MSI Z370 GAMING M5, Z370 350$ </option>
			    <option> ASUS PRIME Z370-P, Intel Z370 400$ </option>
			</select>
		</label>
		<br>
		<label>Система охлаждения: 
			<select id="selectvalue">
				<option></option>
			    <option> Deepcool THETA 115 </option>
			    <option> Zalman CNPS10X Optima </option>
			    <option> Thermalright Silver Arrow IB-E </option>
			    <option> Водяное охлаждение Corsair Hydro Series H110i </option>
			    <option> Cooler Master MasterAir Maker 8 </option>
			</select>
		</label>
		<br>
		<label>Оперативная память: 
			<select id="selectvalue">
				<option></option>
			    <option> 8GB DDR4 2133Mhz Kingston HyperX FURY 400$ </option>
			    <option> 16GB DDR4 2133Mhz Kingston HyperX FURY 450$ </option>
			    <option> 8GB DDR4 2400Mhz Corsair Vengeance LPX 500$ </option>
			    <option> 16GB DDR4 2400Mhz Corsair Vengeance LPX 550$ </option>
			</select>
		</label>
		<br>
		<label>Корпус: 
			<select id="selectvalue">
				<option></option>
			    <option> AeroCool P7-C0 300$ </option>
			    <option> Cooler Master Elite 350$ </option>
			    <option> Corsair Carbide SPEC-04 400$ </option>
			    <option> Thermaltake Versa C22 RGB 450$ </option>
			    <option> Zalman Z11 Plus 500$ </option>
			</select>
		</label>
		<br>
		<label>Блок питания: 
			<select id="selectvalue">
				<option></option>
			    <option> Cooler Master MasterWatt Lite 700W 350$ </option>
			    <option> Seasonic Platinum 520 Fanless 520W 400$ </option>
			    <option> Cooler Master V1000 1000W 500$ </option>
			    <option> Cooler Master V1200 Platinum 1200W 550$ </option>
			    <option> Corsair AX1500i 1500W 500$ </option>
			</select>
		</label>
		<br>
		<label>Звуковая карта: 
			<select id="selectvalue">
				<option></option>
			    <option> ASUS Strix Soar 300$ </option>
			    <option> ASUS Strix Raid Pro 350$ </option>
			    <option> ASUS ROG Xonar Phoebus 400$ </option>
			    <option> ASUS Strix Raid DLX 450$ </option>
			    <option> ASUS Xonar Essence STX II 7.1 500$ </option>
			</select>
		</label>
		<br>
		<label>Жесткий диск: 
			<select id="selectvalue">
				<option></option>
			    <option> 4TB HDD Seagate Barracuda 300$ </option>
			    <option> 6TB HDD Seagate IronWolf 350$ </option>
			    <option> 6TB HDD Western Digital Blue 400$ </option>
			    <option> 10TB HDD Seagate IronWolf 450$ </option>
			    <option> 10TB HDD Seagate Barracuda Pro 500$ </option>
			</select>
		</label>
		<br>
		<br>
		<br>
		<br>
</body>